<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<body>
	<div class="starter-template">
		<img class="img-fluid" th:src="@{/images/logo.png}" style="width:30%;" />
        <h3>
           <span th:text="${welcome}"></span>
           <span th:text="${contextPath}"></span>
        </h3>
    </div>
    <hr />
    <h1 th:text="${welcome}"></h1>
	<hr />
	<div class="row">
		<div class="col-md-12">					
			<div class="alert alert-success">
			    <ul>
			        <li th:each="link : ${links}">
			        	<a th:href="${link.link}" th:text="${link.title}"></a>
			        </li>
			    </ul>	
		    </div>
		</div>
	</div>
</body>
</html>